<h1>Should I take an umbrella?</h1>
<form action="/umbrella_submit">
  <label for="location">Where are you located?</label>
  <input id="location" type="text" name="user_location">

  <button>Submit</button>
</form>

