<%= params %>
<p>User location</p>
<p></p>
<p>Latitude</p>
<p></p>
<p>Longitude</p>
<p></p>
<p>Current temperature</p>
<p></p>
<p>Current summary</p>
<p></p>
<p>Umbrella?</p>
<p></p>

<a href="/umbrella"><p>Go back</p></a>


<%#= needs User Location
Latitude
Longitude
Current Temp
Current weather summary (sunny, cloudy)
Umbrella? 
You probably won't need an umbrella. 
OR You might want to take an umbrella! %>
